<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HaiTongiOS.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>9104F41134D101EA1500439F6662E5A31F845D51</string>
				<key>dateExpires</key>
				<string>2021/5/1</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>9104F41134D101EA1500439F6662E5A31F845D51</string>
						<key>dateExpires</key>
						<string>2021/5/1</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MADCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>2WVHFMHV5Y</string>
						<key>name</key>
						<string>HAITONG Securities Company Limited</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>2WVHFMHV5Y.Htsec.com.tzyh</string>
				<key>com.apple.developer.team-identifier</key>
				<string>2WVHFMHV5Y</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>2WVHFMHV5Y.Htsec.com.tzyh</string>
				</array>
			</dict>
			<key>name</key>
			<string>HaiTongiOS.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>2c15662c-cafa-416b-aafc-3cb9d5924332</string>
				<key>name</key>
				<string>HTSecTZYH_20191009</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>2WVHFMHV5Y</string>
				<key>name</key>
				<string>HAITONG Securities Company Limited</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
